# !/bin/bash

WIREGUARD_INTERFACE=[[INTERFACE_NAME]]
WIREGUARD_LAN=[[WIREGUARD_LAN]]
MASQUERADE_INTERFACE=[[NETWORK_INTERFACE]]

CHAIN_NAME="WIREGUARD_$WIREGUARD_INTERFACE"

iptables -t nat -D POSTROUTING -o $MASQUERADE_INTERFACE -j MASQUERADE -s $WIREGUARD_LAN

# Remove and delete the WIREGUARD_wg0 chain
iptables -D FORWARD -j $CHAIN_NAME
iptables -F $CHAIN_NAME
iptables -X $CHAIN_NAME
